  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }

  #choices {
    display: flex;
    flex-direction: column;
    font-size: x-large;
  }
  #scores-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #view-scores {
    position: absolute;
    top: 0;
    left: 0;
    font-size: large;
    margin: 200px;
  }

  #timer {
    position: absolute;
    top: .0;
    right: 0;
    font-size: x-large;
    margin: 200px;
  }
  #start-button{
    font-size: x-large;
  }

